<div data-extend-template="/layouts/layout.html">
  <div data-block="content">
    <section class="login">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="text-center info-message" ng-show="user">
                      <h2>Welcome {{user.first_name}}</h2>
                      <p>
                          To log in with a different account, please <a href="#/logout">log out</a> first.
                      </p>
                  </div>
                  <div ng-hide="user">
                      <form novalidate role="form" name="loginForm" ng-submit="login()" class="form-horizontal">
                        <fieldset>
                          <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label"></label>
                            <div class="col-lg-6">
                              <h2>Log In</h2>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="email" ng-model="loginModel.email" type="email" id="loginEmail" placeholder="Email Address" required="" auto-focus>
                                <div class="error">{{loginError}}</div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-6">
                                <input name="password" class="form-control" ng-model="loginModel.password" type="password" id="loginPassword" placeholder="Password" required="">
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-lg-6 col-lg-offset-2">
                              <input type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" value="Log in" />
                              <a href="#/resetpassword" class="btn btn-link">Forgot your password?</a>
                            </div>
                          </div>
                        </fieldset>
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </section>
  </div>
</div>