<div data-extend-template="/layouts/layout.html">
  <div data-block="content">
    <section ng-hide="user" class="applicationAdvisors">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-md-offset-2">
            <div class="text-center">
              <h3>Please <a class="tcOrg" href="#/login">log in</a> to access current page</h3>
              <p class="R20R">Don't have an account? <a class="tcOrg" href="#/signup">sign up now</a> for free.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div ng-show="user" class="container">
      <form novalidate role="form" name="changepasswordForm" ng-submit="updatePassword()" class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label"></label>
            <div class="col-lg-6">
              <h2>Change Password</h2>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Current Password</label>
            <div class="col-lg-6">
              <input name="currentPassword" class="form-control" type="password" ng-model="changePasswordModel.current_password" id="memberCurrentPassword" placeholder="Enter Current Password" required="">
              <div class="error">{{changepasswordFormError.current_password[0]}}</div>
            </div>
          </div>


          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">New Password</label>
            <div class="col-lg-6">
              <input name="password" class="form-control" type="password" ng-model="changePasswordModel.password" id="memberPassword" placeholder="Enter New Password" required="">
              <div class="error">{{changepasswordFormError.password[0]}}</div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Re-enter New Password</label>
            <div class="col-lg-6">
              <input name="passwordConfirmation" class="form-control" type="password" ng-model="changePasswordModel.confirmPassword"  id="advisorPasswordConfirmation" placeholder="Re-enter New Password" required="">
              <div class="error">{{changepasswordFormError.password_confirmation[0]}}</div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
              <button type="button" class="btn btn-primary" type="submit" ng-disabled="changepasswordForm.$invalid" ng-click="updatePassword()">Change my password</button>
            <div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>