<div data-extend-template="/layouts/layout.html">
  <div data-block="content">
    <div class="container" ng-show="flash_message">
      <div class="col-md-7 col-md-offset-2 successMsg mb10">
        <span class="iconPro i_check_w"></span>{{flash_message}} <a class="iconPro i_close_b fr" hide-flash-message></a>
      </div>
    </div>

    <div class="container">
      <div ng-hide="user">
        <form novalidate role="form" name="resetpasswordForm" ng-submit="changePassword()" class="form-horizontal">
          <input name="reset_password_token" ng-model="resetModel.reset_password_token" type="hidden" required="">
          <fieldset>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label"></label>
              <div class="col-lg-6">
                <h2>Change your password</h2>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">New Password</label>
              <div class="col-lg-6">
                <input name="password" class="form-control" ng-model="resetModel.password" type="password" id="resetPassword" placeholder="Enter password" required="" auto-focus>
                <div class="error">{{resetpasswordFormError.password[0]}}</div>
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Confirm Password</label>
              <div class="col-lg-6">
                <input name="password" class="form-control" ng-model="resetModel.confirmPassword" type="password" id="resetConfirmPassword" placeholder="Confirm password" required="">
                <div class="error">{{resetpasswordFormError.password_confirmation[0]}}</div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-6 col-lg-offset-2">
                <button type="button" class="btn btn-primary" type="submit" ng-disabled="resetpasswordForm.$invalid" ng-click="changePassword()">Change my password</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>