<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Angularjs Application</title>
</head>
<body>
  <p>Hey <%= @resource.first_name %>,</p>

  <p><a href="<%= "#{root_url}#/verify/#{@token}" %>" title="Click to confirm email address">Click here</a> to confirm your email address</p>

  <p>Thanks</p>
</div>
</body>
</html>
